* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    --blue: #59a1e4;
}

.item {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

html,
body {
    width: 100%;
    height: 100%;
}

.page-container {
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
}

.navigation {
    overflow: auto;
    background-color: var(--blue);
    grid-row: 1 / 3;
    grid-column: 1;
    height: 100%;
    padding-top: 5%;
    display: grid;
    grid-template-rows: min-content min-content;
}

.header {
    background-color: white;
    grid-row: 1;
    grid-column: 2;
}

.content-panel {
    padding: 2%;
    overflow: auto;
    background-color: #eee;
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
}

.main-content {

    overflow: auto;
    grid-row: 1 / 3;
    grid-column: 1;
    display: grid;
    grid-template-rows: auto 1f;
}

.main-grid {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    padding-right: 1%;
    gap: 2%;
}

.announcements {
    overflow: auto;
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.announcements-grid {
    overflow: auto;
    background-color: white;
    padding: 1em 2em;
    display: grid;
    margin-bottom: 5%;
}

.trending {
    margin-top: 5%;
    overflow: auto;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.trending-grid {
    overflow: auto;
    background-color: white;
    padding: 1em 2em;
    display: grid;
    grid-auto-rows: min-content;
}

.announcements,
.trending {
    padding-left: 5%;
}

.announcements-grid,
.trending-grid {
    border-radius: 5%;
}

.main-header,
.announcements-header,
.trending-header {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1.25em;
}

/******************************************/

svg.white {
    fill: white;
}

.navigation>div {
    display: grid;
    row-gap: 10px;
}


.nav-head>.link {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: center;
    align-items: center;
    font-size: 1.5em;
}

.nav-body>.link {
    font-size: 1.25em;
}

.nav-head>a>svg {
    width: 80%;
    height: 80%;
    justify-self: center;
}

.link {
    color: white;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.link>div {
    font-weight: bold;
}

.nav-body>a>svg {
    width: 50%;
    height: 50%;
    justify-self: center;
}


/******************************************/

.card {
    background-color: white;
    border-radius: 10px;
    padding: 1em 1em 1em 1em;
    border-left: 10px solid orange;
    margin-left: 5px;
    min-height: 250px;

    height: 1fr;

    display: grid;
    grid-template-rows: min-content auto min-content;
    gap: 1%;
}

.project-title {
    font-weight: bold;
    font-size: 1.1em;
}

.project-content {
    overflow: auto;
    color: grey;
}

.project-actions {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    gap: 5%;
}


.project-actions>a>svg {
    height: 100%;
    width: 100%;
}

/******************************************/

.announcement {
    display: grid;
    grid-auto-rows: min-content;
}

.divider {
    border-top: 1px solid grey;
    margin: 1em;
}

.a-subject {
    font-weight: bold;
}

.a-message {
    font-size: 0.8em;
    color: grey;
}


/******************************************/

.trend {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr;
}

.trend-icon>img,
.user-avatar>img {
    border-radius: 50%;
    width: 3em;
}

.trend-icon {
    align-self: center;
}

.trend-info {
    overflow: auto;
    display: grid;
    grid-template-rows: min-content min-content;
    padding-left: 1em;
    font-size: 0.9em;
}

.trend-user {
    align-self: self-end;
    font-weight: bold;
}

.trend-project {
    align-self: self-start;
    overflow: auto;
    max-height: 80px;
    color: grey;
}

/******************************************/

.header {
    overflow: auto;
    padding: 5px 2% 0 2%;
    grid-column: 2;
    display: grid;
    grid-template: 2fr 3fr / 2fr 1fr;
    gap: 2% 1%;
}

.search {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-items: center;
}

.lense {
    justify-self: end;
    border-radius: 50%;
    padding: 0.5em;
    margin-right: 1em;
}

.lense:hover {
    background-color: #eee;
}

.lense > svg {
    aspect-ratio: 1.25/1;
    width: 2em;
}

.search>input[type="text"] {
    font-size: 1.25em;
    width: 100%;
    border-radius: 0.8em;
    box-shadow: 0;
    background-color: #eee;
    border: 0px;
    height: 2em;
    padding: 1em 1.5em;
}

.search>input[type="text"]:focus {
    outline: none;
    color: black;
    border: 1px solid black;
}

.user {
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 2%;
    align-items: center;
    gap: 1.75em;
    margin-right: 10%;
}

.notifications {
    justify-self: end;
    border-radius: 50%;
    padding: 0.5em;
}

.notifications:hover {
    background-color: #eee;
}

.notifications > svg {
    aspect-ratio: 1.25/1;
    width: 2em;
}

.user>.user-avatar,
.user>.user-name {
    justify-self: center;
}

.user-name {
    font-weight: bold;
    font-size: 1.25em;
}

.profile {
    display: grid;
    grid-template: 1fr 1fr / 80px auto;
    align-items: center;
}

.profile>.greeting,
.profile>.name {
    padding-left: 1rem;
    font-weight: bold;
}

.name {
    font-size: 1.5em;
}


.avatar {
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.avatar>img {
    border-radius: 50%;
    width: 100%;
    align-self: center;
}

.greeting {
    align-self: self-end;
}

.name {
    align-self: self-start;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.actions>button {
    background-color: var(--blue);
    height: 50%;
    width: 80%;
    border-radius: 20%/50%;
    font-size: 1.25em;
    color: white;
    font-weight: bold;
    border-width: 0;
}

.actions>button:hover {
    background-color: blue;
}